@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300&display=swap');
.container-fluid{
    padding: 0;
    overflow-x: hidden;
}
.monRowOver{
    overflow: hidden;
}
.man{
    color: rgb(255, 255, 255);
}
.spMan{
    background-color: rgb(235, 77, 4);
}
.homm{
    font-family: Inter;
}

@media screen and (max-width:900px) {
    .sideb{
        display: none !important ;
    }
}

@media only screen and (max-width: 888px) and (min-width: 601px)  {
    .colonne{
        display: flex;
        justify-content: center;
    }
    .card-title{ 
        font-size: 25px;
    }
    .card-text{
        font-size: 25px;
    }
    .div-icon{
        margin-top: -6%;
        margin-left: 80%;
    }
    .myRow{
        padding-left: 25px;
    }
}