.timline1page3, .timline2page3, .timline3page3 {
    background:#f07203 !important ;
  }
  

  .timline1page3::before {
    content: '';
    width: 960%;
    height: 2px; 
    background-color: #f07203; 
    position: absolute;
    top: 50%; 
    left: 100%; 
    z-index: 1; 
  }

  .timline2page3::before {
    content: '';
    width: 960%;
    height: 2px; 
    background-color: #f07203; 
    position: absolute;
    top: 50%; 
    left: 100%; 
    z-index: 1; 
  }

  @media screen and (max-width: 822px) and (min-width: 520px) {
    .timline2page3::before {
        content: '';
        width: 520%;
        height: 2px; 
        background-color: #f07203; 
        position: absolute;
        top: 50%; 
        left: 100%; 
        z-index: 1; 
      }

      .timline1page3::before {
        content: '';
        width: 520%;
        height: 2px; 
        background-color: #f07203; 
        position: absolute;
        top: 50%; 
        left: 100%; 
        z-index: 1; 
      }
      .timline1page3{
        background:#f07203 !important ;
        margin-bottom: -23px ;
      }
     
  }

  @media screen and (max-width: 500px) {
    .timline2page3::before {
        content: '';
        width: 300% !important;
        height: 2px; 
        background-color: #f07203; 
        position: absolute;
        top: 50%; 
        left: 100%; 
        z-index: 1; 
      }

      .timline1page3::before {
        content: '';
        width: 300% !important;
        height: 2px; 
        background-color: #f07203; 
        position: absolute;
        top: 50%; 
        left: 100%; 
        z-index: 1; 
      }
      .timline3page3{
        margin-top: -25px ;
      }

      .btnconfir{
        font-size: 14px;
        padding: 18px 20px 18px 20px !important;
      }
      .divbtn{

        justify-content: center !important;
      }
      .totalPan{
        width: 100%;
      }
      .totpan{
        padding-left: 20px;
        padding-right: 20px;
      }
      
  }

.actuel{
  color: #8E8E8E;
}