@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;1,300&family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@1,300&family=Open+Sans&family=Raleway:wght@600&family=Roboto:wght@500&family=Rubik:wght@500&family=Work+Sans&display=swap');

.chemise {
    border-radius: 25px;
}

.imgChemise {
    background-color: rgba(232, 232, 232, 0.891);
    height: 425px;
}

.start {
    color: rgb(248, 174, 2);
}

.price {
    font-size: 48px;
    color: rgba(229, 137, 36, 1);
}

.h1-span {
    color: #001530;
    font-size: 46px;
    font-family: 'Rubik' sans-serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
}

.marhom {
    color: #999999;
    font-size: 20px;
    font-family: 'Rubik' sans-serif;
    font-weight: 400;
    line-height: 28.80px;
    word-wrap: break-word
}

.price {
    color: #E58924;
    font-size: 48px;
    font-family: 'Inter' sans-serif;
    font-weight: 700;
    line-height: 57.60px;
    letter-spacing: 0.14px;
    word-wrap: break-word
}

.qte,
.total,
.priTotal {
    color: #11142D;
    font-size: 24px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    line-height: 28.80px;
    letter-spacing: 0.12px;
    word-wrap: break-word
}

.dispo {
    color: #999999;
    font-size: 14px;
    font-family: 'Rubik' sans-serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
}

.plorem {
    color: #252525;
    font-size: 14px;
    font-family: 'Rubik' sans-serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
}

.btnFav {
    color: #DB242A;
    font-size: 16px;
    font-family: "Montserrat" sans-serif;
    font-weight: 700;
    line-height: 19.20px;
    letter-spacing: 0.08px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    border: 2px #DB242A solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
    display: inline-flex;
}

.btnAjou {
    border: none;
    color: white;
    font-size: 16px;
    font-family: "Montserrat" sans-serif;
    font-weight: 700;
    line-height: 19.20px;
    letter-spacing: 0.08px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: linear-gradient(315deg, #DB242A 0%, #E58924 100%);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.quatre {
    color: black;
font-size: 62px;
font-family: "Raleway" sans-serif;
font-weight: 500;
word-wrap: break-word
}


.cinq {
    color: rgba(22, 20, 18, 0.30);
    font-size: 32px;
    font-family: "Raleway" sans-serif;
    font-weight: 500;
    word-wrap: break-word
}

.etoile {
    margin-top: -25px;
}

.avis {
    color: #65635F;
    font-size: 14px;
    font-family: "Open Sans" sans-serif;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word
}

.moyen {
    color: #65635F;
    font-size: 14px;
    font-family: "Open Sans" sans-serif;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word
}

.progres {
    width: 136px;
    height: 17px;
    background-color: rgb(255, 217, 0);
}

.progre {
    width: 136px;
    height: 17px;
    background-color: rgb(182, 182, 182);
}

.date {
    font-weight: 100;
    margin-top: -15px;
}

.tbody {
    border-right: 1px solid rgba(128, 128, 128, 0.6);
    border-left: 1px solid rgba(128, 128, 128, 0.578);
}

thead tr th {
    color: #2A71D5;
    font-size: 12px;
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    word-wrap: break-word
}
.anonyme{
    color: black;
font-size: 16px;
font-family: "Raleway" sans-serif;
font-weight: 600;
word-wrap: break-word
}
.date{
    color: #65635F;
font-size: 14px;
font-family: "Open Sans" sans-serif;
font-weight: 400;
line-height: 24px;
word-wrap: break-word
}
td .paragraphe{
    color: #65635F;
font-size: 14px;
font-family: "Open Sans" sans-serif;
font-weight: 400;
line-height: 24px;
word-wrap: break-word
}
.bien{
    color: #65635F;
font-size: 14px;
font-family: "Open Sans" sans-serif;
font-weight: 700;
line-height: 24px;
word-wrap: break-word
}
.produit{
    color: #65635F;
font-size: 12px;
font-family: "Open Sans" sans-serif;
font-weight: 400;
line-height: 24px;
word-wrap: break-word
}
.chiffre{
    color: black;
font-size: 14px;
font-family: "Raleway" sans-serif;
font-weight: 600;
word-wrap: break-word
}
.h3 {
    color: #252525;
    font-size: 27.18px;
    font-family: "Inter" sans-serif;
    font-weight: 500;
    line-height: 52.41px;
    word-wrap: break-word
}

.etoile {
    color: black;
    font-size: 14px;
    font-family: " Open Sans" sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.table-container {
    width: 850px;
    overflow-x: auto;
    margin-right: 15px;
}

.table {
    min-width: 700px;
    width: 100%;
}

.products{
    color: #252525;
font-size: 27.18px;
font-family: "Inter" sans-serif;
font-weight: 500;
line-height: 52.41px;
word-wrap: break-word
}
@media only screen and (max-width: 768px) and (min-width: 651px) {
    .h1-span {
        font-size: 30px;
    }

}

@media only screen and (max-width: 650px) and (min-width: 320px) {
    .h1-span {
        font-size: 30px;
    }

    .butt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}