@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;1,300&family=Open+Sans&family=Raleway:wght@600&family=Roboto:wght@500&display=swap');
h1{
    font-family: "Roboto" sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.card-title{
    font-family: 'Inter' serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26.47px;
    letter-spacing: 0.12px;
}
.card-text{
    font-family: 'Inter' serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28.09px;
    letter-spacing: 0.11px;
}
.div-image{
    z-index: 1;
}
.div-icon{
    z-index: 100;
    margin-top: -8%;
    margin-left: 80%;
    width: 40px;
    height: 40px;
}
.div-icon .icon{
    color: #e36f31;
    font-size: 25px;
}