@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;1,300&family=Open+Sans&family=Raleway:wght@600&family=Roboto:wght@500&display=swap');

.newsletterC h2{
  font-family: 'Roboto' serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.newsletterC p{
  font-family: 'Roboto' serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
/* newsletter */
.search {
    display: inline-block;
    position: relative;

  }
  input::placeholder{
    font-family: "Montserrat" serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  
  .search input[type="text"] {
    width: 90% !important;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   
  .search button[type="submit"] {
    
    background-color: #d45e14;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -1px;
    right: 110px;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 94, 0);
  }

  .newsletterC{
    background-color: #d45e1414;
  }

  @media only screen and (max-width: 768px) and (min-width: 651px)  {
    .search button[type="submit"] {
        
      right: 73px;
  }
  .btn{
      margin-bottom: 15px;
  }
    
}

  @media only screen and (max-width: 650px) and (min-width: 320px)  {
    .search button[type="submit"] {
        
      right: 73px;
  }
  .btn{
      margin-bottom: 15px;
  }
    
}