.footer{
    background: linear-gradient(160deg, rgba(229, 137, 36, 1), rgba(219, 36, 42, 1));
}

.ul{
    list-style-type : none;
}
.ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.copy{
    font-family: Work Sans;
    font-size: 20px;
}