@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300&family=Rubik&family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300&family=Roboto+Slab:wght@500;600&family=Roboto:wght@500;700&family=Rubik&family=Work+Sans&display=swap');

.footer{
    background: linear-gradient(160deg, rgba(229, 137, 36, 1), rgba(219, 36, 42, 1));
    font-family: Roboto;
}

.ul{
    list-style-type : none;
}
.ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.copy{
    font-family: Work Sans;
    font-size: 20px;
}