.ul{
    width: 75% ;
}

.active{
    background-color: rgb(236, 74, 5) !important;
    color: white;
}

.inactive{
    background-color: rgb(164, 162, 161) !important;
    color: white;
}


@media screen  and (max-width: 822px) {
    .ul{
        width: 100% ;
    }
}