.banner{
    background-color: #e66e1fe2;
    /* height: 600px; */
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn{
    border: 1px solid rgb(255, 255, 255);
    background:#f59e6461 ;
}
.btn:hover{
    border: 1px solid rgb(255, 255, 255);
}
.pull{
    width: 88%;
}
.sect1Ico{
    width: 130px;
    height: 130px;
    border: 2px solid rgba(128, 128, 128, 0.537);
}



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

.card{
    border-radius: 23px;
}

.testi{
    background-color: rgb(255, 255, 255);
}

.voirplus{
    border: none;
    background-color: rgba(206, 206, 206, 0.082);
}
.princip{
    background-color: rgba(206, 206, 206, 0.144);
}

/* newsletter */
.search {
    display: inline-block;
    position: relative;

  }
  
  .search input[type="text"] {
    width: 90% !important;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button[type="submit"] {
    background-color: #d45e14;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -3px;
    right: 90px;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 94, 0);
  }

  .newsletterC{
    background-color: #d45e1414;
  }

  @media screen and (max-width: 520px) {
    .search button[type="submit"] {
        
        right: 60px;
    }
    .btn{
        margin-bottom: 15px;
    }
  }
  