@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

.banner {
  background-color: #e66e1fe2;
  /* height: 600px; */
  padding-top: 100px;
  padding-bottom: 100px;
}

.h1 {
  font-family: lato;
  font-weight: 800 !important;
}

.btn {
  border: 1px solid rgb(255, 255, 255);
  background: #f59e6461;
}

.btn:hover {
  border: 1px solid rgb(255, 255, 255);
}

.pull {
  width: 88%;
}

.section1{
  background-color: #cdcdcd0e !important;
  padding-bottom: 25px;
  
}
.sect1Ico {
  width: 130px;
  height: 130px;
  border: 2px solid rgba(128, 128, 128, 0.537);
  background-color: #ffffff;
}


.card {
  border-radius: 23px;
}

.testi {
  background-color: rgb(255, 255, 255);
}

.voirplus {
  border: none;
  background-color: rgba(206, 206, 206, 0.082);
}

.princip {
  background-color: rgba(206, 206, 206, 0.144);
}

/* newsletter */
.search {
  display: inline-block;
  position: relative;

}

.search input[type="text"] {
  width: 90% !important;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #d45e14;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -3px;
  right: 90px;
  transition: .9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(255, 94, 0);
}

.newsletterC {
  background-color: #d45e1414;
}

@media screen and (max-width: 520px) {
  .search button[type="submit"] {

    right: 60px;
  }

  .btn {
    margin-bottom: 15px;
  }

  .like {
    position: relative;
    bottom: -150px;
    /* margin-right: 10px; */
  }
}

.link {
  text-decoration: none;
  color: rgb(70, 71, 72);
}




.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: start;
  font-family: arial;
  border-radius: 15px !important;
}

.pricecar {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  text-align: start;
  padding-left: 5px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.h2card {
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  text-align: start;
  padding-left: 5px;
}

.stoile {
  color: #eabf13;
}

.pricing {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #E58924;
  border-radius: 90em 0 0 90em;
  display: flex;
  align-items: center;
  padding: 0.62em 0.75em;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.like {
  transition: 0.2s ease-in-out;
  border: 1px solid #D9D9D9;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -10px;
  margin-right: 10px;
}

.like .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

