.sidebar-footer{
    background: #fff;
    display: none;
}
.ICONS {
    width: 70px;
    color: #828282;
}
@media only screen and (max-width: 768px) and (min-width: 601px)  {
    .sidebar-footer{
        display: block;
       }
}
@media only screen and (max-width: 600px) and (min-width: 320px)  {
    .sidebar-footer{
        display: block;
       }
}